<head>
  <style>
    .ux-vertical-tabs{
      display: none;
    }
  </style>
</head>
<body>
  <h1>Can't display the content in this page</h1>
  <hr>
  <p> You have landed in a partial page. Click <a href='../#bsa'>here</a> to view the content. </p>
<div class="ux-vertical-tabs">
  <div class="tab-toggle" onclick="tab_toggle();closeNav()"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
  <div class="tabs">
    <button data-tab="about" class="active">About<span></span></button>
    <button data-tab="str">Structure<span></span></button>
    <button data-tab="consti">Constitution<span></span></button>
    <!---<button data-tab="council">Council Members<span></span></button>-->
    <button data-tab="init">Initiatives<span></span></button>
    <!-- <button data-tab="mins">Minutes of Meeting<span></span></button> -->
    <button data-tab="contact">Contact<span></span></button>
    <button class="empty"></button>
  </div>
  <div class="maincontent">
      <div class="dim-caller" onclick="tab_toggle();" />
      <center><div class="heading">Board for Sport Activities</div></center>
      <div data-tab="about" class="tabcontent">
          <h2>About</h2>
          <p> We turn novices into champions here at IIT Delhi grounds. The best facilities provided by us have lead to great results and our presence is now being felt in the Delhi circles as well as in the inter college meets outside. As an organisation we are a group of around 300 people including players, coaches, trainers and administrative staff who are working to take our sporting standards at par with the best in the business. Apart from being the apex body for sports in IITD, we are involved in a number of social events, informal events, hosting of sports tournaments and other collaborations and therefore the number of people involved with BSA is huge. Passion meets purpose at the Annual Inter-IIT Sports Meet, which is the grandest stage to showcase your sporting talents. The pride of representing the institute at such a stage is beyond words, it’s a mix of a extravagant experiences and emotions</p>
      </div>
      <div data-tab="str" class="tabcontent">
          <h2>Structure of the Student Team</h2>
					<img src="../docs/str/BSA.png" id="str-img" alt="Structure" />
      </div>
      <div data-tab="consti" class="tabcontent">
          <h2>Constitution</h2> 
            <div class="consti-box">
              <span>The Board for Sports Activities shall be responsible for the co-ordination of the various sports
							activities in the Institute.</span>
              <a class="btn" href="../docs/BSA%20Constitution.pdf" target="_blank">Read</a>
            </div>
      </div>
      <!--- temporarily not implemented
      <div data-tab="council" class="tabcontent">
          <h2>Council Members</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis aliquet lectus eget pharetra. Nam feugiat vel nisi sit amet scelerisque. Pellentesque ut nibh ante. Donec malesuada ipsum id ex hendrerit pulvinar. Pellentesque ac neque libero. Curabitur ultricies ante quis magna congue efficitur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas consequat elit in mattis feugiat. Aenean tellus risus, accumsan sed ligula id, mattis mattis enim. Suspendisse potenti. Ut felis nisl, ullamcorper id ipsum et, vulputate bibendum nisl.</p>
      </div>
      --->
      <div data-tab="init" class="tabcontent">
          <h2>Initiatives</h2>
          <details open>
            <summary>
              <span class="summary-title">2019-20</span>
              <div class="summary-chevron-up">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
              </div>
            </summary>
            <div class="summary-content">
              <ul class="init-container inline-b">
                <li class="init-item inline-b-item" data-init-index="2019-20_2">
                  <div class="init-item-title">End Term Report</div>
                  <a class="init-item-read"><i class="fa fa-eye"></i>&nbsp View</a>
                </li>
                <li class="init-item inline-b-item" data-init-index="2019-20_1">
                  <div class="init-item-title">Mid Term Report</div>
                  <a class="init-item-read"><i class="fa fa-eye"></i>&nbsp View</a>
								</li>
              </ul>
              <div class="init-index-container" data-init-index="2019-20_1">
                <div class="init-index-container-close">
                  <button class="circle fromMiddle" data-animation="magnify">
                    <span></span>
                  </button>
                </div>
                <h2>Mid Term Report</h2>
                <ul>
                  <li><a href="https://drive.google.com/uc?export=view&id=1rN5QtGkqUactCX3unBUmbgNl2Ca9tXF2#page=2">Results</a></li>
                  <li><a href="https://drive.google.com/uc?export=view&id=1rN5QtGkqUactCX3unBUmbgNl2Ca9tXF2#page=2">General Initiatives</a></li>
                  <li><a href="https://drive.google.com/uc?export=view&id=1rN5QtGkqUactCX3unBUmbgNl2Ca9tXF2#page=3">Initiatives Specific to Teams</a></li>
                  <li><a href="https://drive.google.com/uc?export=view&id=1rN5QtGkqUactCX3unBUmbgNl2Ca9tXF2#page=4">New Construction and Equipment</a></li>
                </ul>
                <a href="https://drive.google.com/file/d/1rN5QtGkqUactCX3unBUmbgNl2Ca9tXF2/view?usp=sharing" class="read-pdf">See PDF</a>
              </div>
						</div>
						<div class="init-index-container" data-init-index="2019-20_2">
							<div class="init-index-container-close">
								<button class="circle fromMiddle" data-animation="magnify">
									<span></span>
								</button>
							</div>
							<h2>End Term Report</h2>
							<ul>
								<li><a href="https://drive.google.com/uc?export=view&id=1pW0JXOrs96PBwpoPnJrbgdetY9GmRy7t#page=3">Student members of the Board</a></li>
								<li><a href="https://drive.google.com/uc?export=view&id=1pW0JXOrs96PBwpoPnJrbgdetY9GmRy7t#page=5">Tournament results</a></li>
								<li><a href="https://drive.google.com/uc?export=view&id=1pW0JXOrs96PBwpoPnJrbgdetY9GmRy7t#page=6">General initiatives</a></li>
								<li><a href="https://drive.google.com/uc?export=view&id=1pW0JXOrs96PBwpoPnJrbgdetY9GmRy7t#page=9">Team specific initiatives</a></li>
								<li><a href="https://drive.google.com/uc?export=view&id=1pW0JXOrs96PBwpoPnJrbgdetY9GmRy7t#page=10">Construction of sports facilities and equipment</a></li>
							</ul>
							<a href="https://drive.google.com/file/d/1pW0JXOrs96PBwpoPnJrbgdetY9GmRy7t/view?usp=sharing" class="read-pdf">See
								PDF</a>
						</div>
						</div>
            <div class="summary-chevron-down">
              <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg> -->
          </details>
      </div>
      <!-- <div data-tab="mins" class="tabcontent">
          <h2>Minutes of Meeting</h2>
          <div class="cd-horizontal-timeline">
            <div class="timeline">
              <div class="events-wrapper">
                <div class="events">
                  <ol>
                    <li><a href="#0" data-date="01/01/2020" class="selected">2020</a></li>
                    <li><a href="#0" data-date="01/01/2019">2019</a></li>
                    <li><a href="#0" data-date="01/01/2018">2018</a></li>
                    <li><a href="#0" data-date="01/01/2017">2017</a></li>
                    <li><a href="#0" data-date="01/01/2016">2016</a></li>
                    <li><a href="#0" data-date="01/01/2015">2015</a></li>
                    <li><a href="#0" data-date="01/01/2014">2014</a></li>
                  </ol>
                  <span class="filling-line" aria-hidden="true"></span>
                </div>
              </div>
              <ul class="cd-timeline-navigation">
                <li><a href="#0" class="prev inactive">Prev</a></li>
                <li><a href="#0" class="next">Next</a></li>
              </ul> 
            </div> 
            <div class="events-content">
              <ol>
                <li class="selected" data-date="01/01/2020">
                  <div class="mins-card-container">
                    <div class="mins-item">
                      <span>12 June</span>
                      <span class="arrow primera next "></span>
                      <span class="arrow segunda next "></span>
                    </div>
                    <div class="mins-item">
                      <span>12 Jun '19'</span>
                      <span class="arrow primera next "></span>
                      <span class="arrow segunda next "></span>
                    </div>
                    <div class="mins-item">
                      <span>12 Jun '19'</span>
                      <span class="arrow primera next "></span>
                      <span class="arrow segunda next "></span>
                    </div>
                    <a class="mins-item">
                      12 Jun '19' &nbsp <span><i class="fa fa-arrow-circle-o-right"></i></span>
                    </a>
                     <a class="mins-item">
                      12 Jun '19' &nbsp <i class="fa fa-arrow-circle-o-right"></i>
                    </a>
                    <div class="mins-item">
                      12 Jun '19'
                    </div>
                    <div class="mins-item">
                      12 Jun '19'
                    </div>
                  </div>
                </li>
                <li data-date="01/01/2019">
                  <h2>Pilot</h2>
                  <em>2007</em>
                  <p> 
                    First pilot calciner facility is built to test what was possible.
                  </p>
                </li>
                <li data-date="01/01/2018">
                  <h2>First Plant</h2>
                  <em>2011</em>
                  <p> 
                    First continuous calciner plant CFC 850 at Bacchus Marsh.
                  </p>
                </li>
                <li data-date="01/01/2017">
                  <h2>Acquisition</h2>
                  <em>2012</em>
                  <p> 
                    Acquisition of Myrtle Springs mining tenements.</p><p>
          Awarded UK Government’s DECC grant to develop the Endex technology.
                  </p>
                </li>
                <li data-date="01/01/2016">
                  <h2>World’s First</h2>
                  <em>2013</em>
                  <p> 
                    World’s first 30kTpa commercial CFC demonstrator.</p><p>
          First plant in South East Asia established.
                  </p>
                </li>
                <li data-date="01/01/2015">
                  <h2>Awards</h2>
                  <em>2014</em>
                  <p> 
                    First MHL manufactruring facilities established in both NSW and QLD.</p><p>
          Awarded Commercialisation Australia grant helps accelerating the roll-out of our proprietary MHS slurrying technology via transportable batching plants.</p><p>
          Calix wins the Water Category Awards at the 2014 Australian Technologies Competition.
                  </p>
                </li>
                <li data-date="01/01/2014">
                  <h2>More Wins</h2>
                  <em>2015</em>
                  <p> 
                    Awarded Commercialisation Australia grant to support Booster-Mag commercialisation.</p><p>
          ABA100 Winner for Best Technology Product in The Australian Business Awards 2015.</p><p>
          Calix wins the Water Category Awards and is nominated Australia’s best emerging tech company of the year at the annual Australian Technologies Competition.
                  </p>
                </li>
              </ol>
            </div>
          </div>
      </div> -->
      <div data-tab="contact" class="tabcontent">
          <h2>Contact</h2>
          <!-- <h3>Example SubTitle</h3> -->
          <div class="contact-container">
            <div class="contact-email">
              <div class="contact-email-title">Drop us a line</div>
              <div class="contact-email-caption">Have some enquiries? We are here to help you out!</div>
              <a class="contact-email-id" href="mailto:bsagsec@admin.iitd.ac.in">bsagsec@admin.iitd.ac.in</a>
            </div>
            <div class="contact-social">
              <div class="social-caption">Connect with us</div>
              <a href="https://www.facebook.com/iitd.bsa/" target="_blank" class="fb"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/bsa.iitd/" target="_blank" class="insta"><i class="fa fa-instagram"></i></a>
            </div>
            <div class="consti-box">
              <span>Jump to their website to know more</span>
              <a class="btn" href="http://bsa-iitd.in/home/" target="_blank">Go to website</a>
										<a class="btn" href="http://bsa-iitd.in/home/people/" target="_blank" style="margin-left:2%">Team</a>
            </div>
          </div>
      </div>
      <!-- END OF TAB_CONTENT DIV -->
  </div>
</div>
</body>