<head>
  <style>
    .ux-vertical-tabs{
      display: none;
    }
  </style>
</head>
<body>
  <h1>Can't display the content in this page</h1>
  <hr>
  <p> You have landed in a partial page. Click <a href='../#bsp'>here</a> to view the content. </p>

<div class="ux-vertical-tabs">
        <div class="tab-toggle" onclick="tab_toggle();closeNav()"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
        <div class="tabs">
          <button data-tab="tab1" class="active">About<span></span></button>
          <button data-tab="tab2">Team<span></span></button>
          <button data-tab="tab3">Contact<span></span></button>
          <!--<button data-tab="tab4">Tab Example 04<span></span></button>-->
          <button class="empty"></button>
        </div>
        <div class="maincontent">
          <div data-tab="tab1" class="tabcontent active">
            <div class="ux-text">
              <h2>BSP</h2>
              <h3>About</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis aliquet lectus eget pharetra. Nam feugiat vel nisi sit amet scelerisque. Pellentesque ut nibh ante. Donec malesuada ipsum id ex hendrerit pulvinar. Pellentesque ac neque libero. Curabitur ultricies ante quis magna congue efficitur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas consequat elit in mattis feugiat. Aenean tellus risus, accumsan sed ligula id, mattis mattis enim. Suspendisse potenti. Ut felis nisl, ullamcorper id ipsum et, vulputate bibendum nisl.</p>

              <h3>PORs</h3>
              <p>Sed mollis a velit vel mattis. Mauris sit amet arcu quis nisl imperdiet egestas. Vivamus at tristique arcu, ut consequat libero. Donec risus arcu, dapibus non erat sit amet, consequat accumsan tortor. Fusce facilisis erat ante, ac mattis erat rutrum vel. Aenean consectetur egestas eros ut convallis. Nunc scelerisque augue ut urna pharetra placerat. Nunc volutpat metus sed faucibus feugiat. Duis in elit mauris. Pellentesque vel sem ipsum. Nunc et felis ultricies, euismod nisi eget, consectetur mi. Phasellus gravida nulla vel venenatis molestie. Maecenas porta nulla vulputate, tristique urna id, aliquam lorem. Nam vitae sodales lacus. Morbi imperdiet faucibus nisl, a laoreet leo posuere vitae. Pellentesque convallis ex tincidunt velit mattis, blandit aliquet dui iaculis.</p><h3>PORs</h3>
              <p>Sed mollis a velit vel mattis. Mauris sit amet arcu quis nisl imperdiet egestas. Vivamus at tristique arcu, ut consequat libero. Donec risus arcu, dapibus non erat sit amet, consequat accumsan tortor. Fusce facilisis erat ante, ac mattis erat rutrum vel. Aenean consectetur egestas eros ut convallis. Nunc scelerisque augue ut urna pharetra placerat. Nunc volutpat metus sed faucibus feugiat. Duis in elit mauris. Pellentesque vel sem ipsum. Nunc et felis ultricies, euismod nisi eget, consectetur mi. Phasellus gravida nulla vel venenatis molestie. Maecenas porta nulla vulputate, tristique urna id, aliquam lorem. Nam vitae sodales lacus. Morbi imperdiet faucibus nisl, a laoreet leo posuere vitae. Pellentesque convallis ex tincidunt velit mattis, blandit aliquet dui iaculis.</p><h3>PORs</h3>
              <p>Sed mollis a velit vel mattis. Mauris sit amet arcu quis nisl imperdiet egestas. Vivamus at tristique arcu, ut consequat libero. Donec risus arcu, dapibus non erat sit amet, consequat accumsan tortor. Fusce facilisis erat ante, ac mattis erat rutrum vel. Aenean consectetur egestas eros ut convallis. Nunc scelerisque augue ut urna pharetra placerat. Nunc volutpat metus sed faucibus feugiat. Duis in elit mauris. Pellentesque vel sem ipsum. Nunc et felis ultricies, euismod nisi eget, consectetur mi. Phasellus gravida nulla vel venenatis molestie. Maecenas porta nulla vulputate, tristique urna id, aliquam lorem. Nam vitae sodales lacus. Morbi imperdiet faucibus nisl, a laoreet leo posuere vitae. Pellentesque convallis ex tincidunt velit mattis, blandit aliquet dui iaculis.</p><h3>PORs</h3>
              <p>Sed mollis a velit vel mattis. Mauris sit amet arcu quis nisl imperdiet egestas. Vivamus at tristique arcu, ut consequat libero. Donec risus arcu, dapibus non erat sit amet, consequat accumsan tortor. Fusce facilisis erat ante, ac mattis erat rutrum vel. Aenean consectetur egestas eros ut convallis. Nunc scelerisque augue ut urna pharetra placerat. Nunc volutpat metus sed faucibus feugiat. Duis in elit mauris. Pellentesque vel sem ipsum. Nunc et felis ultricies, euismod nisi eget, consectetur mi. Phasellus gravida nulla vel venenatis molestie. Maecenas porta nulla vulputate, tristique urna id, aliquam lorem. Nam vitae sodales lacus. Morbi imperdiet faucibus nisl, a laoreet leo posuere vitae. Pellentesque convallis ex tincidunt velit mattis, blandit aliquet dui iaculis.</p>
            </div>
          </div>

          <div data-tab="tab2" class="tabcontent">
            <div class="ux-text">
              <h2>Team</h2>
              <h3>Example SubTitle</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis aliquet lectus eget pharetra. Nam feugiat vel nisi sit amet scelerisque. Pellentesque ut nibh ante. Donec malesuada ipsum id ex hendrerit pulvinar. Pellentesque ac neque libero. Curabitur ultricies ante quis magna congue efficitur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas consequat elit in mattis feugiat. Aenean tellus risus, accumsan sed ligula id, mattis mattis enim. Suspendisse potenti. Ut felis nisl, ullamcorper id ipsum et, vulputate bibendum nisl.</p>

    <p>Sed mollis a velit vel mattis. Mauris sit amet arcu quis nisl imperdiet egestas. Vivamus at tristique arcu, ut consequat libero. Donec risus arcu, dapibus non erat sit amet, consequat accumsan tortor. Fusce facilisis erat ante, ac mattis erat rutrum vel. Aenean consectetur egestas eros ut convallis. Nunc scelerisque augue ut urna pharetra placerat. Nunc volutpat metus sed faucibus feugiat. Duis in elit mauris. Pellentesque vel sem ipsum. Nunc et felis ultricies, euismod nisi eget, consectetur mi. Phasellus gravida nulla vel venenatis molestie. Maecenas porta nulla vulputate, tristique urna id, aliquam lorem. Nam vitae sodales lacus. Morbi imperdiet faucibus nisl, a laoreet leo posuere vitae. Pellentesque convallis ex tincidunt velit mattis, blandit aliquet dui iaculis.</p>
            </div>
          </div>

          <div data-tab="tab3" class="tabcontent">
            <div class="ux-text">
              <h2>Example Title 03</h2>
              <h3>Example SubTitle</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis aliquet lectus eget pharetra. Nam feugiat vel nisi sit amet scelerisque. Pellentesque ut nibh ante. Donec malesuada ipsum id ex hendrerit pulvinar. Pellentesque ac neque libero. Curabitur ultricies ante quis magna congue efficitur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas consequat elit in mattis feugiat. Aenean tellus risus, accumsan sed ligula id, mattis mattis enim. Suspendisse potenti. Ut felis nisl, ullamcorper id ipsum et, vulputate bibendum nisl.</p>

    <p>Sed mollis a velit vel mattis. Mauris sit amet arcu quis nisl imperdiet egestas. Vivamus at tristique arcu, ut consequat libero. Donec risus arcu, dapibus non erat sit amet, consequat accumsan tortor. Fusce facilisis erat ante, ac mattis erat rutrum vel. Aenean consectetur egestas eros ut convallis. Nunc scelerisque augue ut urna pharetra placerat. Nunc volutpat metus sed faucibus feugiat. Duis in elit mauris. Pellentesque vel sem ipsum. Nunc et felis ultricies, euismod nisi eget, consectetur mi. Phasellus gravida nulla vel venenatis molestie. Maecenas porta nulla vulputate, tristique urna id, aliquam lorem. Nam vitae sodales lacus. Morbi imperdiet faucibus nisl, a laoreet leo posuere vitae. Pellentesque convallis ex tincidunt velit mattis, blandit aliquet dui iaculis.</p>
            </div>
          </div>

          <div data-tab="tab4" class="tabcontent">
            <div class="ux-text">
              <h2>Example Title 04</h2>
              <h3>Example SubTitle</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis aliquet lectus eget pharetra. Nam feugiat vel nisi sit amet scelerisque. Pellentesque ut nibh ante. Donec malesuada ipsum id ex hendrerit pulvinar. Pellentesque ac neque libero. Curabitur ultricies ante quis magna congue efficitur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas consequat elit in mattis feugiat. Aenean tellus risus, accumsan sed ligula id, mattis mattis enim. Suspendisse potenti. Ut felis nisl, ullamcorper id ipsum et, vulputate bibendum nisl.</p>

    <p>Sed mollis a velit vel mattis. Mauris sit amet arcu quis nisl imperdiet egestas. Vivamus at tristique arcu, ut consequat libero. Donec risus arcu, dapibus non erat sit amet, consequat accumsan tortor. Fusce facilisis erat ante, ac mattis erat rutrum vel. Aenean consectetur egestas eros ut convallis. Nunc scelerisque augue ut urna pharetra placerat. Nunc volutpat metus sed faucibus feugiat. Duis in elit mauris. Pellentesque vel sem ipsum. Nunc et felis ultricies, euismod nisi eget, consectetur mi. Phasellus gravida nulla vel venenatis molestie. Maecenas porta nulla vulputate, tristique urna id, aliquam lorem. Nam vitae sodales lacus. Morbi imperdiet faucibus nisl, a laoreet leo posuere vitae. Pellentesque convallis ex tincidunt velit mattis, blandit aliquet dui iaculis.</p>
            </div>
          </div>
        </div>
      </div>

    </body>
      