header{
    background-color: red;
    padding: 12px 9px;;
    z-index: 999;
    display: block;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    vertical-align: middle;
    height: 2em;
}

header::after{
    clear: both;
    display: table;
    content: "";
}

.bg-header {
    
    padding: 0px 0px 0px 0px;
    position: relative;
    overflow: hidden;
    
}
.bg-header::after {
	  font-family: tahoma;
    color: red;
    content: attr(data-bg-text);
    display: block;
    font-size: 3em;
    line-height: 1;
    position: absolute;
    margin-left: auto;
    opacity:0.2;
		bottom:0%;
		/* text-transform:uppercase; */
        font-weight:900;
    width:100%;
    /* letter-spacing:10px;
  right: calc(18% - 0px); */
	  
}

.heading{
    margin-top:2em;
}