*{
	text-align: center;
	padding:1%;
	margin-block-start: 0em;
	margin-block-end: 0em;
}


.box{
	border-color: black;
	border-width: 2px;
	border-style: solid;
	margin-bottom: 1%;
	border-radius: 20px;
}

#about_us{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.mobile_hidden{
	visibility: visible;
}


.center{
	margin-left: auto;
	margin-right: auto;	
}

#boards,#facilities,#board_container{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#board_container{
	width:90%;
}

#sac_box{
	width:30%;
	margin-left: 35%;
	margin-right: 35%;
}

#sac_box div img{
	float: left;
	margin-left: 5%;
}

.boardbox,.facilitybox{
	width:16%;
}

.board_logo{
	height: 2em;
	width: 2em;
}

#sac_box div h1{
	margin-block-start: 0em;
	margin-block-end: 0em;
}

@media(max-width: 600px){
	.mobile_hidden{
		visibility: hidden;
		height: 0px;
	}

	#sac_box{
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.boardbox{
		width:100%;
		margin-left: 0%;
		margin-right: 0%;
		float:right;
		border-left-style: double;
	}

	#board_container{
		width:70%;
	}

	.facilitybox{
		width:80%;
		margin-left: 10%;
		margin-right: 10%;
	}

	#sac_box div img{
		float: left;
		margin-left: 10%;
	}

	#line1{
		border-left: 5px solid black;
		height: 100em;
		padding: 0%;
		margin-left: 15%;
	}
	#line2,#line3,#line4,#line5,#line6{
		border-top: 5px solid black;
		width:15px;
	}
	#line2{
		margin-top: 2em;
	}
	#line3,#line4,#line5,#line6{
		margin-top: 20em;
	}
}