*{
	text-align: center;
	/* padding:1%; */
	margin-block-start: 0em;
	margin-block-end: 0em;
}


div{
	padding:1%;
}

body{
	margin:0px;
	text-align: center;
	padding:0%;
}

a,a:hover{
	text-decoration: none;
	color: black;
}


.box{
	border-color: black;
	border-width: 2px;
	border-style: solid;
	margin-bottom: 1%;
	border-radius: 2px;
	;
}

.box:hover{
	cursor: pointer;
}

#about_us{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.mobile_hidden{
	visibility: visible;
}


.center{
	margin-left: auto;
	margin-right: auto;	
}

#boards,#facilities,#board_container{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#board_container,#facilities{
	width:90%;
	margin:auto;
	margin-top: 1em;
}

.box{
	padding:1%;
}

#sac_box{
	width:30%;
	margin-left: 35%;
	margin-right: 35%;
}

#sac_box div img{
	float: left;
	margin-left: 5%;
}

.boardbox,.facilitybox{
	width:16%;
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
}

.boardbox:hover,.facilitybox:hover{
	cursor: pointer;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

#sac_box {
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
}

#sac_box:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.board_logo{
	height: 2em;
	width: 2em;
}

#sac_box div h1{
	margin-block-start: 0em;
	margin-block-end: 0em;
}


@media(max-width: 800px){
	.mobile_hidden{
		visibility: hidden;
		height: 0px;
	}

	#sac_box{
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.boardbox{
		width:100%;
		margin-left: 0%;
		margin-right: 0%;
		margin-top:5%;
		float:right;
		/* border-left-style: double; */
	}

	#board_container{
		width:70%;
	}

	.facilitybox{
		width:80%;
		margin-left: 10%;
		margin-right: 10%;
	}

	#sac_box div img{
		float: left;
		margin-left: 10%;
	}

	#line1{
		border-left: 5px solid black;
		height: 0em;
		padding: 0%;
		margin-left: 15%;
	}
	#line2,#line3,#line4,#line5,#line6{
		border-top: 5px solid black;
		width:15px;
	}
	#line2{
		margin-top: 3em;
	}
	#line3,#line4,#line5,#line6{
		margin-top: 0em;
	}
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px
}

.shadow {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
}

.shadow-large {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15)
}

.heading {
	position: relative;
	display: inline-block;
	font-size: 2em;
	font-weight: 300;
	margin: 0 0 30px 0
}

.heading:after {
	position: absolute;
	content: '';
	top: 100%;
	height: 1px;
	width: 50px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: #3498db
}

.background-alt {
	background: #f2f2f5
}

#lead {
	position: relative;
	height: 100vh;
	min-height: 500px;
	max-height: 1080px;
	background: url(./cover.jpg);
	background-size: cover;
	padding: 15px;
	overflow: hidden
}

#lead-content {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 7.5%;
	transform: translateY(-50%);
	text-align: center
}

#lead-content h1,
#lead-content h2 {
	text-align: left;
	margin: 5px
}

#lead-content img{
	float: left;
	height: calc(7.25em + 10px);
	width: auto;
}

#lead-content img:after{
	clear:  both;
	content: "";
	display:  block;
}

#lead-content h1 {
	color: #fff;
	font-weight: 900;
	font-size: 5em;
	letter-spacing: 0.05em;
	line-height: 0.9em
}

#lead-content h2 {
	color: #a0cfee;
	font-weight: 500;
	font-size: 2.25em;
	margin-bottom: 15px
}

#lead-content p {
	display: block;
	text-align: justify;
	color: #a0cfee;
	font-weight: 500;
	font-size: 1.25em;
	margin: 40px 7.5% 15px 5px;
}


#lead-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(33, 125, 187, 0.5);
	z-index: 1
}

#lead-down {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
	z-index: 10;
	bottom: 15px;
	color: #fff
}

#lead-down span {
	cursor: pointer;
	display: block;
	margin: 0 auto;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: 3px solid #a0cfee;
	text-align: center
}

#lead-down i {
	animation: pulsate 1.5s ease;
	animation-iteration-count: infinite;
	padding-top: 5px
}

@keyframes pulsate {
	0% {
		transform: scale(1, 1)
	}
	50% {
		transform: scale(1.2, 1.2)
	}
	100% {
		transform: scale(1, 1)
	}
}




section{
    padding: 50px 15px;
    background: var(--main-bg-color);
    border-bottom: 1px solid #dcd9d9
}


.more-grid{
	border: 1px solid DodgerBlue;
	padding: 0.25vw;
	margin-bottom: 25px;

	box-shadow: 0 10px 20px -7px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
}

.more-grid:hover{
	cursor: pointer;
	transform: scale(1.03);
	-webkit-transform: scale(1.03);
}

.heading1 {
	position: relative;
	display: inline-block;
	font-size: 1.5em;
	font-weight: 400;
	margin: 9px 0 15px 0
}

.heading1:after {
	position: absolute;
	content: '';
	top: 100%;
	height: 1px;
	width: 50px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: #3498db
}

.more-grid .content{
	text-align:  justify;
	padding: 3px 2.5%;
	margin-bottom: 18px;
}

.more-grid .know-more{
	margin: 3px 3% 18px;
	padding: 6px;
	cursor: pointer;
	border: 1px solid DodgerBlue;
	background: DodgerBlue;
	text-transform:  uppercase;
	color: white;
}

.more-grid .know-more:hover{
	border: 1px solid Blue;
	background: Blue;
	color: white;
}



@media only screen and (max-width: 992px) {
	#lead {
		
		height: auto;
		min-height: auto;
		max-height: auto;
		
		padding: 120px 15px
		
	}
	#lead-content {
		
		position: relative;
		transform: none;
		left: auto;
		top: auto
		
	}
	#lead-content img{
		height: calc(5.5em + 10px);
		width: auto;
	}
	#lead-content h1 {
		font-size: 3.5em
	}
	#lead-content h2 {
		font-size: 2em
	}
	#lead-content p {
		font-size: 1.15em
	}
}

@media only screen and (max-width: 768px) {
	#lead-content img{
		height: calc(4.3em + 10px);
		width: auto;
	}
	#lead-content h1 {
		font-size: 2.5em
	}
	#lead-content h2 {
		font-size: 1.8em
	}
	
	#lead-down {
		display: none
	}
	
	#lead-content p {
		font-size: 1.05em
	}
}

@media only screen and (max-width: 480px) {
	#lead-content img{
		height: calc(3.2em + 10px);
		width: auto;
	}
	#lead-content h1 {
		font-size: 1.9em
	}
	#lead-content h2 {
		font-size: 1.3em
	}
	#lead-content p {
		font-size: 0.9em
	}

}