/* FOOTER */
:root{
	--footer-background-color:#00020b;
	--footer-scroll-top-color:#000106;
}

.footer {
	width: 100%;
	background: var(--footer-background-color);
	display: block;
 }

 .inner-footer {
	 width: 95%;
	 margin: auto;
	 padding: 30px 10px;
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 justify-content: center;
 }

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
	text-align: left;
}

.footer-items p {
	font-size: 20px;
	text-align: justify;
	line-height: 25px;
	color: #fff;
}

.footer-items h1 {
	color: #fff;
}

.border1 {
	height: 3px;
	width: 40px;
	background: #ff9800;
	color: #ff9800;
	background-color: #ff9800;
	border: 0px;
}

.footer-items ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
    letter-spacing: 0.5px;	
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
 }

.footer-items ul a ,.footer-items a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

.footer-items ul a:hover,.footer-items a:hover  {
	color: #ff9800;
}

.footer-items ul li {
	margin: 10px 0;
	/* height: 25px; */
	width:100%;
}

.footer-items ul li i{
	margin-right: 10px;
	/* height: 25px; */
}

.footer-items ul li a {
	 margin-left: 1px; 
}

.footer-heading {
	position: relative;
	display: inline-block;
	/*font-size: 2em;*/
	font-weight: 300;
	margin: 0 0 15px 0
}

.footer-heading:after {
	position: absolute;
	content: '';
	top: 100%;
	height: 1px;
	width: 40px;
	left: 0;
	margin: 0 auto;
	background: #3498db
}

.social-media {
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 20px;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
	height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 4px;
	color: #fff;
	transition: 0.5s;
}

.social-media i:hover {
	transform: scale(1.5);
}

.footer-bottom {
	padding: 10px;
	background: var(--footer-background-color)
	color: #fff;
	font-size: 12px;
	text-align: center;
}

.scroll-top-button{
	background: var(--footer-scroll-top-color);
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
	font-size: 2rem;
	max-width: 300px;
	float:right;
	text-align: center;
}

.scroll-top-button:hover{
	cursor: pointer;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}


@media screen and (min-width: 660px) {
	.scroll-top-button{
		min-width: 200px;
	}
	.scroll-top-button{
		margin-top: 50px;
	}
}

/* for tablet mode view */

@media screen and (max-width: 900px) {
	.footer-items {
		width: 50%;
	}
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
	.footer-items {
		width: 100%;
	}
	.scroll-top-button{
		float: none;
		margin: auto;
		margin-top: 50px;
	}
}

@media screen and (min-width: 900px) {
	.scroll-top-button{
		margin-top: 100px;
	}
}


.fa{
	font-famile:!FontAwesome;
}