/* https://codepen.io/wallaceerick/pen/ctsCz */


.select-hidden {
  display: none;
  /* visibility: hidden; */
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #000;
  width: calc(100% - 4px);
  height: 2.4rem;
  margin: 2px 2px;

}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 1.2rem;
  font-size: 1rem;
  padding: 0.48rem 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 0.4rem solid transparent;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  top: 0.95rem;
  right: 10px;
}
.select-styled:hover {
  background: rgba(0,0,0,0.75);
  color: #fff;
}
.select-styled:hover:after{
  border-color: #fff transparent transparent transparent;
}
.select-styled:active, .select-styled.active {
  background-color: #000;
  color: #fff;
  border-radius: 0;
}
.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #fff transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 1000;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #999;
  color: #444;
}
.select-options li {
  margin: 0;
  padding: 10px 0;
  text-indent: 15px;
  border-top: 1.5px solid silver;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.select-options li:hover {
  color: #000;
  background: #e8e8e8;
}
.select-options li[rel="hide"] {
  display: none;
}

#drop{
    /*position: absolute;*/
    position: fixed;
    padding: 0px;
    width: 13rem;
    z-index: 1000;
}


@media (max-width: 50rem) {
    #drop{
        /*position: absolute;*/
        width: 100%;
        background-color: white;
    }
}
