/* https://codepen.io/hassan-kamal/pen/NNvYEQ */







.mom-container {
   width: calc(100vw - 20rem - 4rem);
   position: relative;
   overflow: hidden;
}

.mom-container:before {
   content: '';
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -1px;
   width: 2px;
   height: 100%;
   background: #CCD1D9;
   z-index: 1
}



.mom-timeline-block {
   width: -webkit-calc(50% + 8px);
   width: -moz-calc(50% + 8px);
   width: calc(50% + 8px);
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   justify-content: space-between;
   clear: both;
}

.mom-timeline-block-right {
   float: right;
}

.mom-timeline-block-left {
   float: left;
   direction: rtl
}

.mom-marker {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #F5F7FA;
   background: #4FC1E9;
   margin-top: 10px;
   z-index: 9999
}

.mom-timeline-content {
   width: 95%;
   padding: 0 15px;
   color: #666
}

.mom-timeline-content h3 {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 25px;
   font-weight: 500
}

.mom-timeline-content span {
   font-size: 15px;
   color: #a4a4a4;
}

.mom-timeline-content p {
   font-size: 14px;
   line-height: 1.5em;
   word-spacing: 1px;
   color: #888;
}

@media (max-width: 50rem) {
  .mom-container {
    width: calc(100vw - 2rem);
  }
}

@media screen and (max-width: 65rem  /*768px*/) {
   .mom-container:before {
      left: 8px;
      width: 2px;
   }
   .mom-timeline-block {
      width: 100%;
      margin-bottom: 30px;
   }
   .mom-timeline-block-right {
      float: none;
   }

   .mom-timeline-block-left {
      float: none;
      direction: ltr;
   }
}

