

/* https://codepen.io/NielsVoogt/pen/YbaNPd */

details {
  /*
  margin: 7em auto;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  width: 100%;
  */
  width: calc(100vw - 20rem - 4rem);
  background: #ffffff;
  border-radius: 8px;
  position: relative;
  border: 1px solid #ccc;
  margin-bottom: 12px;
}
details .summary-title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
details:hover {
  cursor: pointer;
}
details .summary-content {
  border-top: 1px solid #e2e8f0;
  cursor: default;
  padding: 1em;
  font-weight: 300;
  line-height: 1.5;
}
details summary {
  padding: 1em 0.5em;
}
details summary:focus {
  outline: none;
}
details summary:hover .summary-chevron-up svg {
  opacity: 1;
}
details .summary-chevron-up svg {
  opacity: 0.5;
}
details .summary-chevron-up,
details .summary-chevron-down {
  pointer-events: none;
  position: absolute;
  top: 0.75em;
  right: 1em;
  background: #ffffff;
}
details .summary-chevron-up svg,
details .summary-chevron-down svg {
  display: block;
}
details summary::-webkit-details-marker {
  display: none;
}



@media (max-width: 50rem) {
  details {
    width: calc(100vw - 2rem);
  }
}




/* https://codepen.io/hectorguo/pen/BoZEyW */

.init-container {
  list-style:none;
  margin: 0;
  padding: 0;

  
  overflow-x: scroll;
  /*
  white-space: nowrap;
  */
}
.init-item {
  position: relative;
  background: #1e90ff;
  padding: 5px;
  width: 175px;
  height: 225px;
  margin: 15px 12px;
  border-left: 15px solid #0059b3;

  white-space: normal;

  cursor:  pointer;

  /*
  box-shadow: 5px 4px 0px 7px rgba(0, 0, 0,0.1);
  -webkit-box-shadow: 5px 4px 0px 7px rgba(0, 0, 0,0.1);
  -moz-box-shadow: 5px 4px 0px 7px rgba(0, 0, 0,0.1);
  */
}

.init-item-title{
  padding: 12px 3px 5px;
  color: white;
  font-weight: bold;
  font-size: 1.75em;
  text-align: center;
  max-height: 125px;
  line-height: 1.2em;
  overflow-y: hidden;
  font-family: "Oswald";
}


.init-item-read{
  position: absolute;
  z-index: 2;
  display: none;
  margin-top: 20px;

  padding: 6px 9px;

  text-decoration:  none;

  left: 50%;
  transform: translateX(-50%);

  color: #fff;
  background: rgb(0,0,0,0.4);
}

.init-item:hover{
  background: #4da6ff;
  border-left: 15px solid #0073e6;
  transform: scale(1.03);

}

.init-item:hover .init-item-read{
  display: inline-block;
}

.init-item-read:hover{
  background: rgb(0,0,0,0.6);
}


/*float layout*/
/*
.init-float {
  margin: 0 auto;
}
.init-float:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.init-float-item {
  float: left;
}
*/

@media (max-width: 50rem) {  /* value to be changed*/
  .init-item-read {
    display: block;
    position: absolute;
    bottom: 0;
    width: calc(100% + 15px);
    text-align:  center;

    left: 0;
    transform: translateX(0);

    left: -15px;

    background: rgb(0,0,0,0.4);

  }

  .init-item:hover .init-item-read{
    display: block;
    background: rgb(0,0,0,0.6);
  }



}

.init-item-active{
  background: #4da6ff;
  border-left: 15px solid #0073e6;
  transform: scale(1.05);
}

.init-item-active .init-item-read, .init-item-active:hover .init-item-read{
  display: none;
}



/*inline-block*/

.inline-b {
  max-width:1200px;
  margin:0 auto;
}
.inline-b-item {
  display: inline-block;
}


/*Flexbox*/
/*
.flex {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
*/



/* =========== */

.init-index-container{
  display: none;
  position: relative;
  border: 1px solid #1e90ff;
  color: #003366;
  padding: 5px;
  margin-top: 6px;
}



.init-index-container ul {
  list-style-type: none;
  list-style-position: inside;
  margin-left: 5px;
  font-size: 1.08em;
}


.init-index-container li{
  display: block;
  margin: 5px 7px;
  border: 0.8px solid #66b3ff;
  border-left: 6px solid #1a8cff;
  position: relative;

  cursor:   pointer;

}

.init-index-container li:hover{
  border-left: 6px solid #66b3ff;
}

.init-index-container li a{
  text-decoration:   none;
  color: inherit;

  padding-left: 8px;
}



/*
.init-index-container li:hover {
  background: #80bfff;
}
*/

.init-index-container li .init-index-num{
  background: #80bfff;
  padding: 4px 10px;
  font-size: calc(1em + 8px);
  display: inline-block;
  font-weight: 300;
  font-family: "Oswald";
}

.init-index-container li .init-index-text{
  display: inline-block;
  
  text-transform: uppercase;
  padding: 8px 5px;
  vertical-align: middle;

  margin-right: 36px;
}

.init-index-container li .init-index-text-more{
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px 10px;

  
  text-transform: uppercase;
  background: #99ccff; 

  display: none;
  color: #004080;

  height: 100%;
}

.init-index-container li:hover .init-index-text-more{
  display: inline-block;
}

@media (max-width: 50rem) {
  .init-index-container li .init-index-text-more{
    display: inline-block;
  }

}

/*
.init-index-container li::before {
    content: "\25B7"; 
    color: blue;  
  
    font-weight: bold;
}
*/

/*
.init-index-container li a{
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 1px 8px 1px 4px;
}


.init-index-container li a:hover {
  background: #80bfff;
}
*/


.init-index-container .read-pdf{
  display: inline-block;
  text-align: center;
  border: 1px solid #1e90ff;
  padding: 3px 15px;
  margin: 12px auto 10px 3px;
  background: #1e90ff;
  color: #fff;
  text-decoration:  none;
  text-transform:  uppercase;
  /*
  transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  */
}


.init-index-container .read-pdf:hover {
  background-color: #0073e6; /*#F3AE55;*/ /* #740a0a; */ /*#210202;*/
  border: 1px solid #0073e6;
  cursor:  pointer;
  /*color: white;*/
  /*
  transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  -webkit-transition: border-color 0.5s ease-in-out;
  -moz-transition: border-color 0.5s ease-in-out;
  -o-transition: border-color 0.5s ease-in-out;
  */
}


.init-index-container-close{
  display: inline-block;
  position:  absolute;
  right: 3px;
  top: 3px;

  margin: -5px;
  padding: 2px 6px;

  font-size: 2em;
  color: white;
  background: tomato;

  cursor: pointer;

}

.fa-vc{
  line-height:inherit !important;
}
