/* https://codepen.io/JarlLyng/pen/qyZLPp */

.page-wrapper {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  padding: 5px 16px;
  width: inherit;
  /* padding: 0 5%; */
}



.profile-box {
  background: #e6f2ff;
  box-shadow: 0 2px 6px 0 rgba(47,83,151,0.10);
  border-radius: 3px;
  margin: 20px 16px;
  padding: 16px 16px 12px;
  width: 200px;
  max-width: calc(100% - 17px);
  text-align: center;
  transition: 300ms;
  flex-grow: 1;
  user-select:   none;
}

.profile-box:hover {
  /* box-shadow: 0 2px 6px 0 rgba(47,83,151,0.40); */
  background-color: #cce6ff;
  border-color: #1a8cff;
  box-shadow: 0 0 20px 9px rgba(0,0,0,0.03);
  transform: scale(1.03);
}

.page-wrapper img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 2px 6px 0 rgba(47,83,151,0.10);
}


.page-wrapper h3 {
  font-weight: 500;
  color: #004080;
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 5px;
}

.page-wrapper h4 {
  transition: 500ms;
  font-weight: 300;
  font-size: 1.14em;
  color: #0073e6;
  margin-top: 12px;
  /*cursor: pointer;*/
}

/*
h4:hover {
  color: #507BFC;
  text-decoration: underline;
}
*/

.page-wrapper .mem-contact{
  margin: 6px 2.5% 15px;

  display:  inline-block;
  transition: 300ms;
  border: 0.5px solid #000;
}

.mem-contact i{
   display: inline-block;
   border: 1px solid #000;
   background: #000;
   color: #fff;
   padding: 6px 12px;
   text-decoration: none;
}

.mem-contact span{
    padding: 6px 8px;
}

.page-wrapper .mem-contact:hover{
  border: 0.5px solid #444;
  cursor:  pointer;
}

.page-wrapper .mem-contact:hover i{
  background-color: #444;
}

.page-wrapper .mem-social{
  margin: 18px 2.5% 9px;

  padding: 6px 4px;
  transition: 300ms;
  font-size: 1.2em;
  text-align: center;
}


.mem-social.mem-social.mem-social .fb{
   display: inline-block;
   border: 1px solid #3b5999;
   color: #3b5999;
   padding: 6px 12px;
   text-decoration: none;
   margin-right: 6px;
 }

.mem-social.mem-social .fb:hover{
   background: #3b5999;
   color: white;
 }

 .mem-social .mail{
   display: inline-block;
   border: 1px solid #1e90ff;
   color: #1e90ff;
   padding: 6px 12px;
   text-decoration: none;
   margin-right: 6px;
 }

.mem-social .mail:hover{
   background: #1e90ff;
   color: white;
 }

 .mem-social .phone{
  position: relative;
   display: inline-block;
   border: 1px solid #000;
   color: #000;
   padding: 6px 12px;
   text-decoration: none;
   margin-right: 6px;
 }



.mem-social .phone .ph-num {
   visibility: hidden;
   width: 17ch;
   background-color: black;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px 0;
   position: absolute;
   z-index: 1;
   top: 140%;
   left: 60%;
   margin-left: -60px;

   /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
     opacity: 0;
     transition: opacity 1s;
 }

.mem-social .phone .ph-num::after {
   content: "";
   position: absolute;
   bottom: 100%;
   left: 30%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: transparent transparent black transparent;
 }

 .mem-social .phone:hover{
   background: #000;
   color: white;
   cursor:  pointer;
 }

 .mem-social .phone:hover .ph-num {
   visibility: visible;
   opacity: 1;
 }

/*
.page-wrapper #assign,
.page-wrapper #view {
  width: 45%;
  font-size: 1em;
  color: #98A0A6;
  font-weight: 300;
  padding: 6px 4px;
  margin: 15px 2.5% 6px;
  border-radius: 100px;
  transition: 300ms;
  cursor: pointer;
  border: 1px solid #507BFC;
}

.page-wrapper #assign:hover,
.page-wrapper #view:hover {
  background-color: #507BFC;
  color: white;
  //box-shadow: 0 10px 20px 0 rgba(80,123,252,0.50);
}

.page-wrapper #assign {
  float: left;
}

.page-wrapper #view {
  float: right;
}

.page-wrapper i {
  margin-right: 8px;
}

*/