/* Note:
  1: tabs width and maincontent left-margin are interrelated and should be chnaged simultaneously;
  2: max-width has to be changed if margin-left for maincontent is changed;
*/


* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Lato';
}

h1,h2,:not(.page-wrapper) h3{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
}

.heading {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  border-bottom: 2px dotted silver;
  padding-bottom: 3px;
  margin: 0 0 30px 0
}

/*
.heading:after {
  position: absolute;
  content: '';
  top: 100%;
  height: 5px;
  width: 50px;
  left: 0;
  right: 0;
  margin: 7px 0;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}
*/

/*template starts*/

 /* https://codepen.io/xcrap/pen/ejVbva */




.vert-tabs{
  display: flex;
  /*justify-content: center;*/
  /*align-items: center;*/
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
}

.maxwidth {
  max-width: 74rem;
  width: 100%;
  margin: 0 auto;
}


.tabcontent:first-of-type{
  margin-top: 0;
}

.tabcontent h2 {
  position:  relative;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 25px;
  color: #444;
}
.tabcontent>h2:after {
  position: absolute;
  content: '';
  top: 100%;
  height: 3px;
  width: 50px;
  left: 0;
  right: 0;
  margin: 5px 0;
  background: silver
}


.tabcontent h3 {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 2rem;
  color: #a0b101;
}

.tabcontent p {
  color: #666;
  line-height: 1.8rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.tabcontent p:last-child {
  margin: 0;
}

.ux-vertical-tabs {
  position: relative;
  display: flex;
  /* background: linear-gradient(to bottom, #eee, #fff 200px); */
}

.ux-vertical-tabs .tabs {
  font-family: 'Oswald';
  position: fixed;
  width: 13rem;  /** change in main content margin-left!! */
  /*display: flex;*/
  flex-wrap: wrap;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.ux-vertical-tabs .tabs button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 1.05rem 1.2rem;
  width: 100%;
  outline: none;
  text-align: left;
  cursor: pointer;
  border: 0;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  font-size: .85rem;
  color: #666;
  text-transform: uppercase;
  transition: background 250ms ease;
  line-height: 1.35rem;
}

.ux-vertical-tabs .tabs button:first-child {
  border-top: 1px solid #ddd;
}

.ux-vertical-tabs .tabs button:hover {
  background: #eaeaea;
}

.ux-vertical-tabs .tabs button.active {
  background: #eee;
  border-right: 0;
  color: #222;
}

.ux-vertical-tabs .tabs button.empty {
  flex: 1;
  border: 0;
  border-right: 1px solid #ddd;
  pointer-events: none;
}

.ux-vertical-tabs .tabs button:hover.empty {
  background: none;
}

.ux-vertical-tabs .tabs button span {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #ccc;
  transform: translateX(1rem);
  opacity: 0;
  transition: all 350ms ease;
}

.ux-vertical-tabs .tabs button:hover span {
  transform: translateX(0);
  opacity: 1;
}

.ux-vertical-tabs .tabs button.active span {
  transform: translateX(0);
  border-left: 6px solid #a0b101;
  opacity: 1;
}

.ux-vertical-tabs .maincontent {
  margin-left: 13rem;
  flex: 1;
  border: 1px solid #ddd;
  border-left: 0;
  padding: 2rem;
  overflow: hidden;
  max-width: calc(100vw - 13rem);
}

.ux-vertical-tabs .maincontent .tabcontent {
  display: block;
  position: relative;
  padding-top: 45px;
  padding-bottom: 25px;

}

@media (max-width: 50rem) {
  .ux-vertical-tabs {

    flex-direction: column;
    background: none;
  }

  .ux-vertical-tabs .tabs {
    position: relative;
    width: 100%;
  }

  .ux-vertical-tabs .tabs button.empty {
    display: none;
  }

  .ux-vertical-tabs .maincontent {
    
    border: 1px solid #ccc;
    border-top: 0;
    background: linear-gradient(to bottom, #eee, #fff 200px);
  }

  .ux-vertical-tabs .tabs button {
    padding: 1rem;
  }

  .ux-vertical-tabs .tabs button.active {
    background: #eee;
  }

  .ux-vertical-tabs .tabs button span {
    transform: rotate(90deg);
  }

  .ux-vertical-tabs .tabs button:hover span {
    transform: rotate(90deg);
  }

  .ux-vertical-tabs .tabs button.active span {
    transform: rotate(90deg);
  }

  .ux-vertical-tabs .maincontent {
    margin-left: 0;
    padding: 1rem;
    max-width: calc(100vw);
  }
}

@media (min-width: 50rem){
  .ux-vertical-tabs .tabs{
    height: calc(100vh - 49px);
  }
}


.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
}

.shadow-large {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15)
}