:root{
  --tab-bar-background-color:#636363;
  --active-tab-background-color:#131313;
  --inactive-tab-background-color:#767676;
  --hover-tab-background-color:#232323;
  --know-more-background-color:#fff;
  --know-more-hover-background-color:#000;
  --know-more-hover-color:#fff;
  --inactive-tab-text-color:#d0d0d0;
  --active-tab-text-color:#ffffff;
}

body {
  overflow-x: hidden;
}


h1,h2,h3{
  /*font-family: 'Oswald';*/
  margin: 0 0 1.4rem 0;
  font-weight: 300;
}

/* https://codepen.io/Katiae/pen/zwjmbW */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #f6f6f6;
}
body {
  /* padding: 2rem 0.5rem; */
  font-family: 'Lato';
  color: #32325d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0;
  font-family: 'Lato';
}
@media (min-width: 40rem) {
  body {
    /* padding: 2rem; */
  }
}
.container {
  display: flex;
  -webkit-display: box;
  -moz-display: box;
  -ms-display: flexbox;
  -webkit-display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.cards {
  display: flex;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}
@media (min-width: 40rem) {
  .cards {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards {
    width: 33.3%;
  }
}
.cards .card-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
}
.cards .card-item:hover {
  /*cursor: pointer;*/
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

.cards .card-item:hover .card-image {
  opacity: 1;
}
.cards .card-info {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
  line-height: 1.5em;
}
.cards .card-title {
  font-size: 25px;
  line-height: 1.1em;
  color: #32325d;
  margin-bottom: 0.2em;
}
.cards .card-image {
  height: 200px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px 6px 0px 0px;
  opacity: 0.91;
}


/*  ....  */

.tabs {
  /*margin-top: 5px;*/
  background-color: var(--tab-bar-background-color);
}
.tabs input[type=radio] {
  display: none; 
}
.tabs label {
  transition: background 0.4s ease-in-out, height 0.2s linear;
  display: inline-block;
  cursor: pointer;
  color: var(--inactive-tab-text-color);
  width: 20%;
  height: 3em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: var(--inactive-tab-background-color); /*#b3d9ff;*/
  text-align: center;
  line-height: 3em; 
  font-family: 'Oswald';
}

/* show border-bottom on small screens
.tabs label:last-of-type {
  border-bottom: none; 
}
*/

.tabs label:hover {
  background: var(--hover-tab-background-color); /*#4da6ff;*/
  color: var(--active-tab-text-color);
}
@media screen and (max-width: 1600px) {
.tabs label {
  width: 15%; } 
}
@media screen and (max-width: 900px) {
.tabs label {
  width: 20%; 
  } 
}
@media screen and (max-width: 600px) {
.tabs label {
  width: 100%;
  display: block;
  border-bottom: 2px solid var(--tab-bar-background-color);
  border-radius: 0; 
} 
}
@media screen and (max-width: 600px) {
.tabs {
  margin: 0; 
} 
}

#tab1:checked + label, #tab2:checked + label, #tab3:checked + label, #tab4:checked + label {
  background: /*#0080ff*/ var(--active-tab-background-color);
  color: #FFFFFF; }

.tab-content {
  position: absolute;
  top: -9999px;
  padding: 10px; 
}

.tab-content-wrapper{
  background: #e6f2ff;
  border-top: var(--active-tab-background-color) 5px solid;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  
}
@media screen and (max-width: 600px) {
.tab-content-wrapper, .tab1-content-wrapper {
  border: none;
  border-radius: 0; 
} 
}

#tab1:checked ~ .tab-content-wrapper #tab-content-1, #tab2:checked ~ .tab-content-wrapper #tab-content-2, #tab3:checked ~ .tab-content-wrapper #tab-content-3, #tab4:checked ~ .tab-content-wrapper #tab-content-4 {
  position: relative;
  top: 0px;
 }

 /* above from https://codepen.io/itsthomas/pen/JdYNOo */


 div.social{
   font-size: 1.2em;
 }
 .fb{
   display: inline-block;
   border: 1px solid #3b5999;
   color: #3b5999;
   padding: 6px 12px;
   text-decoration: none;
   margin-right: 6px;
 }

 .fb:hover{
   background: #3b5999;
   color: white;
 }

 .insta{
   display: inline-block;
   border: 1px solid #e4405f;
   color: #e4405f;
   padding: 6px 12px;
   text-decoration: none;
   margin-right: 6px;
 }

 .insta:hover{
   background: #e4405f;
   color: white;
 }



 .web{
   display: inline-block;
   border: 1px solid #101010;
   color: #101010;
   float: right;
   padding: 6px 12px;
   text-decoration: none;
 }
 .web:hover{
   background: #101010;
   color: white;
   /*
   border: none;
   background: DodgerBlue;
   col or: white;
   */
 }
 @media screen and (max-width: 600px) {
   .contact{
     text-align: center;
   }

   .web{
     margin-top: 12px;
     width: 100%;
     float: none;
   }
  
 }




 .cards .card-more {
  display: block;
  text-align: center;
  border: 1px solid var(--know-more-hover-background-color);
  padding: 0.4rem 0.25rem;
  margin-top: 0.75rem;
  color: var(--know-more-hover-background-color);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  font-weight: 500;
}

 .cards .card-more:hover {
  background-color: var(--know-more-hover-background-color); /*#F3AE55;*/ /* #740a0a; */ /*#210202;*/
  color: var(--know-more-hover-color); 
  border-color: none;
  cursor:  pointer;
  /*color: white;*/
  /*
  transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  -webkit-transition: border-color 0.5s ease-in-out;
  -moz-transition: border-color 0.5s ease-in-out;
  -o-transition: border-color 0.5s ease-in-out;
  */
}
